@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}
nav {
  background: #F55A5A;
  color: white;
  display: flex;
  justify-content: center;
  padding: 6px 0;
  
}